*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  display: block;
  background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
}
.header{
  text-align: center;
  margin-top: 40px;
}
#head{
  font-size: 50px;
}
#description{
  margin-top: 10px;
  font-size: 20px;
}
#first{
    width: 90%;
    margin: auto;
}
#survey-form{
  display: flex;
  justify-content: center;
  padding-top: 35px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  width: 50%;
  padding-bottom: 50px;
}
label{
  color: white;
}
#name {
  width: 90%;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border:1px lightgrey;
}
#opt select{
    width:91.5%;
    height:2.5em;
    border-radius: 5px;
    border:1px lightgrey;
    bottom: 10px;
}
#label-checks{
  display: flex;
}
#comments{
  width: 90%;
  height: 100px;
}
#submit-btn{
  width: 91%;
  height: 35px;
  background-color: green;
  border: 0px;
  color: white;
  font-weight: 900;
}
#radios{
  color: white;
}